* { box-sizing: border-box;}

html,body { height:100%;}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C5D9E3;
  margin:0;
   padding: 24px;
}

.card {
  width: 320px;
  background-color: white;
  padding: 16px 16px 24px;
  border-radius: 20px;
  box-shadow: 5px 10px 10px 0 lightblue
}

.qr {
  display: block;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.title {
   margin: 0 12px;
   color: #1f314f;;
   font-weight: 700;
   font-size: 1.25rem;      /* ~20px */
   line-height: 1.25;
   text-align:center;
}

.desc{
      margin: 12px 16px 0;
      color:  #7d889e;
      font-size: .95rem;
      line-height: 1.4;
      text-align:center;
}

@media (min-width: 1440px) {
  .container {
  width: 360px;
}
}